@model Restaurant
@{ 
    ViewBag.Title = $"Edit {Model.Name}";
}
<h1>Edit @Model.Name</h1>

<form asp-action="Edit" method="post">
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control"/>
        <span asp-validation-for="Name"></span>
    </div>
    <div class="form-group">
        <label asp-for="Cuisine"></label>
        <select asp-for="Cuisine"
                asp-items="@Html.GetEnumSelectList(typeof(CuisineType))"
                class="form-control"
                style="width: 200px"></select>
        <span asp-validation-for="Cuisine"></span>
    </div>
    <div>
        <input type="submit" value="Save" class="btn btn-primary" />
    </div>
</form>